@media screen and (max-width: 1200px) {
  .hero h1 {
    font-size: 3rem;
  }

  .art-description {
    justify-content: space-evenly;
    height: 30%;
  }

  .art-description table {
    position: inherit;
    left: inherit;
  }
  
  .art3-container {
    width: 40%;
    padding-right: 1rem;
  }

  .art3-container p {
    width: 80%;
  }

  .art4-container {
    width: 60%;
    padding-left: 1rem;
  }

  .prev, .next {
    margin: 8rem 0;
  }

  footer {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 800px) {
  .hero {
    background: url('/img/art1.svg');
    background-size: 100% ;
    background-position: top;
    background-repeat: no-repeat;
  }

  .hero h1 {
    font-size: 2rem;
    line-height: 3rem;
    top: 50%;
    left: 50%;
  }

  .hero p {
    top: 50%;
    font-size: 0.7rem;
  }

  .mosaic {
    margin: 2rem;
  }
  
  .art3-container {
    width: 60%;
    padding-right: 1rem;
  }

  .art3-container p {
    width: 80%;
    font-size: 1rem;
    margin-top: 4rem;
  }

  .p-container p {
    font-size: 1rem;
    margin: 2rem;
    width: 60%;
  }

  .prev-next {
    display: flex;
    font-size: 0.7rem;
  }

  .prev, .next {
    margin: 4rem 0;
    height: 8rem;
    width: 8rem;
    padding: 1rem;
  }

  .prev-next img {
    margin: 0;
    width: 30%;
  }

  footer {
    flex-direction: column;
  }

  .footer-right {
    width: 90%;
  }

  .footer-right a{
    margin: 1rem 0;
    padding: 0;
    border: none;    
  }

  .footer-right > :last-child > img {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-image: url('https://luise-rios.github.io/grama-test/art1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }

  .art4-container, .art5-container, .art6-container {
    display: none;
  }

  .art2-container {
    margin: 1rem 0;
  }

  .art2-container  img {
    width: 80%; 
    border: 1px solid black;
  }
  
  header {
    position: static;
    padding: 1rem 2rem;
    align-items: center;
  }

  .eclipse-container {
    width: 1.5rem;
    height: 1.5rem;
  }

  .menu {
    height: 1.5rem;
    width: 2rem;
  }

  .line {
    width: 2rem;
  }

  .hero {
    background: none;
    display: flex;
    justify-content: center;
    width: 100%; 
    height: auto;
    margin: 0;
    padding: 1rem;
  }

  .hero p {
    padding: 0;
    left: -1rem;
    top: 20%;
  }

  .hero h1 {
    position: static;
    transform: none;
    width: 50%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .art-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 2rem 0;
    padding: 1rem;
  }

  .art-description table {
    background-color: white;
    border-radius: 5px;
 
    height: 10vh;
    font-size: 0.7rem;
    width: max-content;
    transform: rotate(+90deg);
    position: absolute;
    right: -3rem;
  }

  .art-description p {
    width: 50%;
    text-align: justify;
  }

  .mosaic {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    margin-top: 1rem;
    padding: 1rem;
  }

  .art3-container {
    width: 60%;
    margin: 0;
    padding: 0;
  }

  .art3-container p {
    width: 100%;
    margin: 0;
    line-height: 1.5rem;
  }

  .mosaic img {
    display: none;
  }

  .p-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
  
  .p-container p {
    width: 60%;
    margin: 2rem 0;
    padding: 0;
    line-height: 1.5rem;
  }

  .prev-next {
    flex-direction: column;
    width: 30%;
    height: max-content;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 20rem;
    left: 65%;
  }

  .prev-next a {
    margin: 1rem;
  }

  .prev, .next {
    margin: 0;
    height: 6rem;
    width: 6rem;
  }
  
  .prev-next p {
    line-height: 1rem;
  }

  .footer-right {
    width: 100%;
  }

  .footer-right a {
    margin: 0;
  }

  .footer-right img {
    display: none;
    margin: 0;
  }

  .top-btn {
    display: block;
  }

  .top-btn img{
    display: inherit;
  }

  footer {
    padding: 0.5rem;
  }
}
